<h1>Contact</h1>

<p>stuff is supposed to be here.</p>

<!-- <div class="contact_cell">
  <a href="mailto:taylorthurlow8@gmail.com" class="fa fa-envelope"></a>
</div>
<div class="contact_cell">
  <a href="mailto:taylorthurlow8@gmail.com"></a>
</div>
<div class="contact_cell">
  <a href="mailto:taylorthurlow8@gmail.com"></a>
</div> -->