<h1>contact</h1>

<div class="contact">
  <div class="contact_cell">
    <a href="https://github.com/taylorthurlow">github</a>
  </div>
  <div class="contact_cell">
    <a href="mailto:taylorthurlow8@gmail.com">email</a>
  </div>
  <div class="contact_cell">
    <a href="https://twitter.com/taylor__thurlow">twitter</a>
  </div>
</div>
