<p id="notice"><%= notice %></p>

<h2>Post Archive</h2>

<table id="post_archive">
  <thead>
    <td>Title</td>
    <td width="150">Created</td>
    <td width="150">Updated</td>
  </thead>
  <% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.title, post_url(post) %></td>
    <td><%= post.created_at.localtime.strftime('%b %e %Y, %l:%M %p') %></td>
    <td><%= post.updated_at.localtime.strftime('%b %e %Y, %l:%M %p') %></td>
  </tr>
  <% end %>
</table>
