<% title 'Blog' %>

<% if @tag %>
  <div class="post-tag-header">
    Viewing posts tagged '<%= @tag %>'
  </div>
  <div class="post-separator"></div>
<% end %>

<div id="post-index">
  <% @posts.each do |post| %>
    <div class="post-index-entry">
      <h2><%= link_to post.title, post_url(post) %></h2>
      <div class="post-index-entry-date"><%= post.date_line %></div>
    </div>
  <% end %>
</div>

<div id="post-pages">
  <%= paginate @posts %>
</div>
