<p id="notice"><%= notice %></p>

<% @posts.each do |post| %>
  <%= render 'post', post: post %>
  <% unless post == @posts.last %>
    <br /><hr><br />
  <% end %>
<% end %>

<div class="pagination">
  <br /><br />
  <%= paginate @posts %>
</div>