<p id="notice"><%= notice %></p>

<div class="blog_entries">
  <% @posts.each do |post| %>
    <div class="blog_entry">
      <h2 class="blog_entry_title"><%= link_to post.title, post_url(post) %></h2>
      <div class="blog_entry_date_line"><p><%= post.date_line %></p></div>
    </div>
  <% end %>
</div>

<div class="pagination">
  <%= paginate @posts %>
</div>
