@font-face {
  font-family: "Serif Beta";
  src: font-url("serif_beta/Serif12Beta-Regular") format("opentype");
}

@font-face {
  font-family: "Serif Beta";
  src: font-url("serif_beta/Serif12Beta-Bold") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Serif Beta";
  src: font-url("serif_beta/Serif12Beta-Italic") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: "Serif Beta";
  src: font-url("serif_beta/Serif12Beta-BoldItalic") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Aller";
  src: font-url("aller/Aller_Rg") format("truetype");
}

@font-face {
  font-family: "Aller";
  src: font-url("aller/Aller_Bd") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Aller";
  src: font-url("aller/Aller_It") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Aller";
  src: font-url("aller/Aller_Lt") format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: "Aller";
  src: font-url("aller/Aller_BdIt") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Aller";
  src: font-url("aller/Aller_LtIt") format("truetype");
  font-weight: lighter;
  font-style: italic;
}
