/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";
@import "fonts";

$background_color: #ffffff;
$background_color_alt: #fafafa;
$muted_text_color: #5b5e6d;
$primary_color: #323648;
$accent_color: #4b0082;
$link_color: #f16464;

$max_page_width: 1100px;

$desktop: 850px;

html, body {
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: $primary_color;
  background-color: $background_color;
  font-family: 'Aller';

  p, li {
    font-size: 1em;
    line-height: 1.75em;

    @media (min-width: $desktop) {
      font-size: 1.1em;
      line-height: 1.5em;
    }

    a, a:visited {
      color: $link_color;
    }

    a:hover {
      color: darken($link_color, 16);
    }
  }

  h1, h2, h3, h4 {
    font-family: "Serif Beta";
    font-weight: bold;
    line-height: 100%;
    margin: 1.5em 0 0 0;
  }

  h1 {
    font-size: 3em;

    @media (min-width: $desktop) {
      font-size: 3.5em;
    }
  }

  h2 {
    font-size: 2.5em;

    @media (min-width: $desktop) {
      font-size: 3em;
    }
  }

  h3 {
    font-size: 2em;

    @media (min-width: $desktop) {
      font-size: 2.5em;
    }
  }

  h4 {
    font-size: 1.5em;

    @media (min-width: $desktop) {
      font-size: 2em;
    }
  }

  a {
    text-decoration: none;
    color: $primary_color;

    &:visited {
      color: $primary_color;
    }

    &:hover {
      background-color: transparent;
      color: $primary_color;
    }
  }

  input, textarea {
    padding: 5px;
  }
}

#notice {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0;

  @media (min-width: $desktop) {
    flex-direction: row;
    height: 100vh;
  }
}

#sidebar {
  flex: 1;
  background-color: $background_color_alt;
  padding: 25px 0 35px 0;
  text-align: center;

  @media (min-width: $desktop) {
    max-width: 350px;
    min-width: 200px;
  }

  h1 {
    font-size: 4em;
    line-height: 110%;
    margin: 0;
  }

  &-social {
    margin-top: 30px;

    a {
      margin: 0px 10px;
    }
  }

  &-footer {
    margin-top: 20px;
    p {
      width: 100%;
      margin: 0;
      text-align: center;
      font-size: 1em;
      line-height: 50px;
    }

    a { color: inherit; }

    a.fa { padding: 0px 10px; }
  }
}

#content {
  flex: 2;
  overflow-x: auto;
  padding: 25px 0;

  @media (min-width: $desktop) {
    padding: 25px 50px;
    overflow-y: scroll;
  }
}

.blog_entries {
  .blog_entry {
    &_title {
      font-size: 2em;
    }

    &_date_line {
      color: $muted_text_color;
      margin-top: 10px;
    }

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
}

.blog_post {
  &_title {
    text-align: center;

    h2 {
      margin: 10px 0px 10px;
    }
  }

  &_date_line {
    text-align: center;

    p {
      font-size: 1em;
      color: $muted_text_color;
      margin: 0 0 50px 0;
    }
  }

  &_contents {

    p {
      padding: 0 20px;

      @media (min-width: $desktop) {
        padding: 0;
      }
    }

    pre {
      background-color: #222;
      overflow-x: auto;
      padding: 10px;

      @media (min-width: $desktop) {
        border-radius: 2px;
        padding: 20px;
      }

      code.prettyprint {
        font-size: .85em;

        @media (min-width: $desktop) {
          font-size: 1em;
        }
      }

      code.prettyprint[class*='lang-plain'] {
        > span {
          color: #c5c8c6;
        }
      }
    }

    code.prettyprint:not([class*='lang']) {
      background-color: darken($background_color_alt, 8);
      border-radius: 2px;
      padding: 3px 5px;

      > span {
        font-size: .9em;
        color: $primary_color;
      }
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
    }
  }

  > ul {
    list-style-type: none;
    margin: 0;
    margin-top: -3px;
    margin-right: 10px;
    padding: 0;
    overflow: hidden;

    li {
      float: right;

      a {
        display: block;
        text-align: center;
        padding: 5px;
      }
    }
  }
}

.portfolio {
  &-entry {
    display: flex;

    @media (max-width: $desktop) {
      flex-direction: column;
    }

    &:not(:last-child) {
      margin-bottom: 100px;
    }

    &-thumbnail {
      // width: 720px;
      width: 100%;

      img {
        box-shadow: 0 0 3px black;
        width: 100%;
        max-width: 100%;
        border-radius: 3px;
      }
    }

    &-text {
      flex-basis: 70%;
      font-size: 1em;

      margin: -20px 0 0 40px;

      p {
        margin: 20px 0 0 0 ;
      }

      @media (max-width: $desktop) {
        margin: 30px 0 0 0 ;
      }
    }
  }
}

.pagination {
  text-align: center;
}

#post_archive {
  border-collapse: collapse;

  td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px;
    // border: 1px solid black;
  }

  thead td {
    font-weight: bold;
  }
}

form {
  text-align: center;
}

input, textarea, button {
  width: 700px;
  border: 2px solid lighten($muted_text_color, 32);
  border-radius: 3px;
  padding: 10px;
  margin: 10px 0;

  &[type=text], &[type=password] {
    font-size: 1em;

    &:focus { outline: none; }
  }

  &[type=checkbox] {
    width: inherit;
    margin-left: 10px;
  }

  &[type=submit] {
    width: 100px;

    &:focus { outline: none; }

    &:hover {
      background-color: darken($background-color, 16);
      cursor: pointer;
    }
  }

  &[type=button] {
    width: 100px;
    padding: 5px;
    margin: 0;

    &:focus { outline: none; }

    &:hover {
      background-color: darken($background-color, 16);
      cursor: pointer;
    }
  }
}

.login_form {
  input[type=text], input[type=password] {
    width: 200px;
  }
}

.button {
  width: 100px;
}

textarea {
  font-size: 1.5em;
  height: 500px;
}

.monospace {
  textarea {
    font-family: monospace;
  }
}
